html{
    margin: 1px;
}


div.container{
    height: 50%;
    text-align: center;
    color: black;
}
footer{
    display: flex;
    align-self: flex-end;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    bottom: 0;
    text-align: center;
}
.atte{
    height: 50%;
    width: 50%;
    color: black;
}

button {
    background-color: black;
    height: 50%;
  }

body{
    background-color:white;
}

table{
    height: 20%;
    position: absolute;
    bottom: 0;
    left: 45%;

}

td{
    padding: 5px;
}
.color{
    background-color: rgb(0, 0, 0);
    color: white;
    width: 50px;
}
.color2{
    background-color: rgb(66, 66, 66);
    color: white;
    width: 50px;

        
}
.color3{
    background-color: rgb(255, 255, 255);
    width: 50px;
}